USE [master]
GO
/****** Object:  Database [DB_VENTAS_INVENTARIO]    Script Date: 9/07/2026 22:55:04 ******/
CREATE DATABASE [DB_VENTAS_INVENTARIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_VENTAS_INVENTARIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_VENTAS_INVENTARIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_VENTAS_INVENTARIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_VENTAS_INVENTARIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_VENTAS_INVENTARIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_VENTAS_INVENTARIO]
GO
/****** Object:  Table [dbo].[Categoria_Producto]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_Producto](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[descripcion] [varchar](150) NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NULL,
	[telefono] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[documento] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[id_detalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](45) NOT NULL,
	[documento] [varchar](45) NULL,
	[telefono] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[precioVenta] [decimal](10, 2) NOT NULL,
	[tipo] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_item] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[codigoBarras] [varchar](45) NULL,
	[costo] [decimal](10, 2) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[razon_social] [varchar](150) NOT NULL,
	[tipo_documento] [varchar](45) NULL,
	[num_documento] [varchar](45) NULL,
	[telefono] [varchar](45) NULL,
	[email] [varchar](100) NULL,
	[direccion] [varchar](200) NULL,
	[estado] [bit] NOT NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[id_item] [int] NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[clave] [varchar](255) NOT NULL,
	[estado] [bit] NULL,
	[id_rol] [int] NOT NULL,
	[id_empleado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 9/07/2026 22:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[igv] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[numero_comprobante] [varchar](20) NOT NULL,
	[tipo_comprobante] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria_Producto] ON 

INSERT [dbo].[Categoria_Producto] ([id_categoria], [nombre], [descripcion], [estado]) VALUES (2, N'Equipos de Climatización', N'Aires acondicionados split, portátiles y ductos', 0)
INSERT [dbo].[Categoria_Producto] ([id_categoria], [nombre], [descripcion], [estado]) VALUES (3, N'Repuestos y Componentes', N'Compresores, motores, filtros y gas refrigerante', 1)
INSERT [dbo].[Categoria_Producto] ([id_categoria], [nombre], [descripcion], [estado]) VALUES (4, N'Herramientas e Insumos', N'Manómetros, bombas de vacío, soldadura y tubos', 1)
SET IDENTITY_INSERT [dbo].[Categoria_Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id_cliente], [nombres], [apellidos], [telefono], [email], [documento]) VALUES (1, N'Juan', N'Pérez', N'987654321', N'juan@gmail.com', N'12345678')
INSERT [dbo].[Cliente] ([id_cliente], [nombres], [apellidos], [telefono], [email], [documento]) VALUES (2, N'María', N'Gómez', N'999888777', N'maria@gmail.com', N'87654321')
INSERT [dbo].[Cliente] ([id_cliente], [nombres], [apellidos], [telefono], [email], [documento]) VALUES (3, N'Carlos', N'Torres', N'955444333', N'carlos@gmail.com', N'11223344')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_venta] ON 

INSERT [dbo].[detalle_venta] ([id_detalle_venta], [id_venta], [id_item], [cantidad], [precio_unitario]) VALUES (1, 1, 1, 2, CAST(1800.00 AS Decimal(10, 2)))
INSERT [dbo].[detalle_venta] ([id_detalle_venta], [id_venta], [id_item], [cantidad], [precio_unitario]) VALUES (2, 1, 2, 1, CAST(2200.00 AS Decimal(10, 2)))
INSERT [dbo].[detalle_venta] ([id_detalle_venta], [id_venta], [id_item], [cantidad], [precio_unitario]) VALUES (3, 1, 20, 1, CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[detalle_venta] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id_empleado], [nombres], [documento], [telefono]) VALUES (1, N'Ronal Timoteo', N'1122334455', N'555-1122')
INSERT [dbo].[Empleado] ([id_empleado], [nombres], [documento], [telefono]) VALUES (2, N'Jorge Ramírez', N'5566778899', N'555-3344')
INSERT [dbo].[Empleado] ([id_empleado], [nombres], [documento], [telefono]) VALUES (3, N'Sofía Torres', N'9988776655', N'555-5566')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([id_item], [nombre], [descripcion], [precioVenta], [tipo]) VALUES (1, N'Aire Split LG 12000 BTU', N'Aire acondicionado Inverter, alta eficiencia', CAST(1800.00 AS Decimal(10, 2)), N'PRODUCTO')
INSERT [dbo].[Item] ([id_item], [nombre], [descripcion], [precioVenta], [tipo]) VALUES (2, N'Aire Split Samsung 18000 BTU', N'Tecnología Wind-Free', CAST(2200.00 AS Decimal(10, 2)), N'PRODUCTO')
INSERT [dbo].[Item] ([id_item], [nombre], [descripcion], [precioVenta], [tipo]) VALUES (3, N'Mantenimiento Preventivo', N'Limpieza profunda de serpentín y filtros', CAST(150.00 AS Decimal(10, 2)), N'SERVICIO')
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
INSERT [dbo].[producto] ([id_item], [stock], [codigoBarras], [costo], [id_categoria], [id_proveedor]) VALUES (1, 0, N'7750000000001', CAST(1500.50 AS Decimal(10, 2)), 4, 1)
INSERT [dbo].[producto] ([id_item], [stock], [codigoBarras], [costo], [id_categoria], [id_proveedor]) VALUES (2, 200, N'7750000000002', CAST(850.00 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[producto] ([id_item], [stock], [codigoBarras], [costo], [id_categoria], [id_proveedor]) VALUES (5, 31, N'7750000000003', CAST(1900.70 AS Decimal(10, 2)), 4, 4)
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([id_proveedor], [razon_social], [tipo_documento], [num_documento], [telefono], [email], [direccion], [estado], [fecha_registro]) VALUES (1, N'LG PERU S.A.C.', N'RUC', N'20123456789', N'999888777', N'ventas@lg.com', N'Av. La Marina 123', 1, CAST(N'2026-06-09T18:13:57.553' AS DateTime))
INSERT [dbo].[Proveedor] ([id_proveedor], [razon_social], [tipo_documento], [num_documento], [telefono], [email], [direccion], [estado], [fecha_registro]) VALUES (2, N'SAMSUNG ELECTRONICS PERU S.A.C.', N'RUC', N'20501234567', N'987654321', N'contacto@samsung.pe', N'Av. República de Panamá 3500', 1, CAST(N'2026-06-11T22:34:02.440' AS DateTime))
INSERT [dbo].[Proveedor] ([id_proveedor], [razon_social], [tipo_documento], [num_documento], [telefono], [email], [direccion], [estado], [fecha_registro]) VALUES (3, N'INTEL PERU S.A.', N'RUC', N'20456789012', N'912345678', N'ventas.corp@intel.com', N'Calle Begonias 450, San Isidro', 1, CAST(N'2026-06-11T22:34:02.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id_rol], [nombre], [descripcion]) VALUES (1, N'Administrador', NULL)
INSERT [dbo].[Rol] ([id_rol], [nombre], [descripcion]) VALUES (2, N'Vendedor', NULL)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[Servicio] ([id_item], [activo]) VALUES (20, 0)
INSERT [dbo].[Servicio] ([id_item], [activo]) VALUES (21, 0)
INSERT [dbo].[Servicio] ([id_item], [activo]) VALUES (22, 0)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [usuario], [clave], [estado], [id_rol], [id_empleado]) VALUES (1, N'admin', N'123456', 1, 1, 1)
INSERT [dbo].[Usuario] ([id_usuario], [usuario], [clave], [estado], [id_rol], [id_empleado]) VALUES (2, N'sofi@gmail.com', N'123456', 1, 2, 3)
INSERT [dbo].[Usuario] ([id_usuario], [usuario], [clave], [estado], [id_rol], [id_empleado]) VALUES (3, N'Ele@gmail.com', N'123456', 1, 2, 5)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([id_venta], [fecha], [total], [id_cliente], [igv], [subtotal], [id_usuario], [numero_comprobante], [tipo_comprobante]) VALUES (1, CAST(N'2026-06-23T17:50:14.223' AS DateTime), CAST(7021.00 AS Decimal(10, 2)), 1, CAST(1071.00 AS Decimal(10, 2)), CAST(5950.00 AS Decimal(10, 2)), 2, N'B001-00000001', N'BOLETA')
INSERT [dbo].[Venta] ([id_venta], [fecha], [total], [id_cliente], [igv], [subtotal], [id_usuario], [numero_comprobante], [tipo_comprobante]) VALUES (2, CAST(N'2026-06-23T18:43:15.633' AS DateTime), CAST(6785.00 AS Decimal(10, 2)), 3, CAST(1035.00 AS Decimal(10, 2)), CAST(5750.00 AS Decimal(10, 2)), 2, N'B001-00000002', N'BOLETA')
INSERT [dbo].[Venta] ([id_venta], [fecha], [total], [id_cliente], [igv], [subtotal], [id_usuario], [numero_comprobante], [tipo_comprobante]) VALUES (3, CAST(N'2026-06-23T18:50:56.550' AS DateTime), CAST(5192.00 AS Decimal(10, 2)), 2, CAST(792.00 AS Decimal(10, 2)), CAST(4400.00 AS Decimal(10, 2)), 2, N'B001-00000003', N'BOLETA')
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cliente_Documento]    Script Date: 9/07/2026 22:55:05 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [UQ_Cliente_Documento] UNIQUE NONCLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DetalleVenta]    Script Date: 9/07/2026 22:55:05 ******/
ALTER TABLE [dbo].[detalle_venta] ADD  CONSTRAINT [UQ_DetalleVenta] UNIQUE NONCLUSTERED 
(
	[id_venta] ASC,
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Usuario__88B51395553448EF]    Script Date: 9/07/2026 22:55:05 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__9AFF8FC650EBBAF3]    Script Date: 9/07/2026 22:55:05 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Venta_Numero]    Script Date: 9/07/2026 22:55:05 ******/
ALTER TABLE [dbo].[Venta] ADD  CONSTRAINT [UQ_Venta_Numero] UNIQUE NONCLUSTERED 
(
	[numero_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria_Producto] ADD  CONSTRAINT [DF_Categoria_Estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Proveedor] ADD  CONSTRAINT [DF_Proveedor_Estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [igv]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ('') FOR [numero_comprobante]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ('BOLETA') FOR [tipo_comprobante]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Item] FOREIGN KEY([id_item])
REFERENCES [dbo].[Item] ([id_item])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_Detalle_Item]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Venta] ([id_venta])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_Detalle_Venta]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD FOREIGN KEY([id_item])
REFERENCES [dbo].[Item] ([id_item])
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria_Producto] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_Categoria]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_Proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_Proveedor]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD FOREIGN KEY([id_item])
REFERENCES [dbo].[Item] ([id_item])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empleado] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empleado]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Usuario]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVenta_Cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [CK_DetalleVenta_Cantidad]
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 9/07/2026 22:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SELECT 
        i.id_item,
        i.nombre AS Producto,
        i.descripcion,
        i.precioVenta,
        p.stock,
        p.codigoBarras,
        p.costo,
        p.id_categoria,
        p.id_proveedor
    FROM Item i
    INNER JOIN producto p
        ON i.id_item = p.id_item
    WHERE i.tipo = 'PRODUCTO'
    ORDER BY i.id_item DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarServicios]    Script Date: 9/07/2026 22:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarServicios]
AS
BEGIN
SELECT
    i.id_item,
    i.nombre AS Servicio,
    i.descripcion,
    i.precioVenta,
    s.activo
FROM Item i
INNER JOIN Servicio s
    ON i.id_item = s.id_item
WHERE i.tipo = 'SERVICIO'
ORDER BY i.id_item DESC;
END;
GO
USE [master]
GO
